<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
    <title>Cab Big</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <style type="text/css">
        * {
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
        }
    </style>
</head>

<body style="padding:0; margin:0; background: #f4f4f4;">
    <table style="max-width: 700px; width: 100%; border: 0; margin:20px auto;">
        <tr>
            <td>
                <table style="border: 1px solid #d7d7d7; width: 100%; max-width: 700px; background: white; padding-bottom: 15px; ">
                    <tr>
                        <td style="background: #1B557A; height: auto; vertical-align: middle;">
                            <div style=" padding: 10px 15px">
                                <img style="width: 50px; border-radius: 50%;" src="http://taxiapp-web-dashboard.geekydev.com/assets/89065a3406ad3f2a983fd73314781c5f.jpg"
                                    alt="TaxiApp" />
                                <span style="display: inline-block; padding-left: 15px; vertical-align: top; color: #f4f4f4; font-size: 20px;"><span style="font-size: 12px; text-transform: uppercase; font-weight: 600; padding-top:5px; display: inline-block;">Cab Big</span><br
                                />Cab Big</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:40px 20px 0px 20px;">
                            <h2 style="font-weight: 300; text-align: center;">Thank you for travelling with us,
                                
                            </h2>
                            <h1 style="text-align: center; font-weight: 300; font-size: 80px; margin:0;">
                                <span style="font-weight: 300; font-size: 30px;">
                                    $
                                </span> <%= data.tripAmt %>
                            </h1>

                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px " width="100%">
                           <!--  <h3 style="font-size: 21px; margin:0;"> Bill details</h3>
                             <table style="width: 100%; border: solid 1px #ddd;" cellpadding="10" width="100%" cellspacing="0">
                                <tr style="background: #eee;">
                                    <td>Ride fare</td>
                                    <td style="font-weight: 500; text-align: right; padding-right: 20px;">20 Rs</td>
                                </tr>
                                <tr>
                                    <td>Taxes </td>
                                    <td style="font-weight: 500; text-align: right; padding-right: 20px;">5 Rs</td>
                                </tr>
                                <tr style="background: #eee;">
                                    <td>Total fare</td>
                                    <td style="font-weight: 500; text-align: right; padding-right: 20px;">25 Rs</td>
                                </tr>

                            </table>  -->
                            <table width="100%;" style="padding: 20px 0; color: green;">
                                <tr>
                                    <td>
                                        Driver Name:
                                        <span style="font-weight: 600;"><%= data.driver.fname %> <%= data.driver.lname %></span>
                                    </td>
                                    <td style="text-align: right;">
                                        Contact Details:
                                        <span style="font-weight: 600;"><%= data.driver.phoneNo %></span>
                                    </td>
                                </tr>
                                  <tr>
                                    <td>
                                        Rider Name:
                                        <span style="font-weight: 600;"><%= data.rider.fname %> <%= data.rider.lname %></span>
                                    </td>
                                    <td style="text-align: right;">
                                        Contact Details:
                                        <span style="font-weight: 600;"><%= data.rider.phoneNo %></span>
                                    </td>
                                </tr>
                            </table>
                            <div style="border-top:solid 1px #ddd; border-bottom: solid 1px #ddd; padding: 20px 0;">
                                <h3 style="font-weight: 500; margin: 0 0 5px 0;">
                                    Booking
                                    <span style="color: #1B557A; font-weight: 600; margin:5px 0; font-size: 16px; display: inline-block; margin-left: 10px;">Time:<%= data.bookingTime %></span>
                                </h3>
                                <address style="color: #666;">
                                    Full address:  <%= data.pickUpAddress %> 
                                </address>

                                <h3 style="font-weight: 500; margin: 20px 0 5px 0;">
                                    Drop
                                    <span style="color: #1B557A; font-weight: 600; margin:5px 0; font-size: 16px; display: inline-block; margin-left: 10px;">Time: <%= data.tripEndTime %></span>
                                </h3>
                                <address style="color: #666;">
                                    Full address: <%= data.destAddress %>
                                </address>
                            </div>
                            <table width="100%" style="text-align: center; margin-top:20px;">
                                <tr>
                                    <th width="50%" style="font-weight: 500; font-size: 16px;">Payment Mode</th>
                                    <th width="50%" style="font-weight: 500; font-size: 16px;">Total Amount</th>
                                </tr>
                                <tr style="color: green; margin:5px 0; font-size: 26px;">
                                    <td><%= data.paymentMode %></td>
                                    <td>$<%= data.tripAmt %></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>